@layer default {
  :is(.btn, .btn-outline) {
    --def--btn_c-text: #1f2937;
    --def--btn-c-text_r: #fff;
    --def--btn_c-bg: transparent;
    --def--btn_c-bc: var(--def--btn_c-bg);

    --def--btn_disable-c: white;
    --def--btn_disable-procent: 35%;
    --def--btn_hover-c: black;
    --def--btn_hover-prcent: 10%;
    --def--btn_active-c: black;
    --def--btn_active-prcent: 20%;

    --_btn_fs: var(--btn_fs, var(--fs-base));
    --_btn_pb: var(--btn_pb, 0.5em);
    --_btn_pi: var(--btn_pi, 1em);
    --_btn_bw: var(--btn_bw, var(--bw));
    --_btn_bc: var(--def--btn_c-bc);
    --_btn_br: var(--btn_br, var(--br));
    --_btn_tt: var(--btn_tt, var(--t_t));
    --_btn_lh: var(--btn_lh, var(--lh));

    /* btn with icon */
    --_btn_d: var(--btn_d, inline-flex);
    --_btn_ai: var(--btn_ai, center);
    --_btn_gap: var(--btn_gap, 0.5em);

    --link_d: none;
    --link_d_h: none;

    display: var(--_btn_d);
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

    font-size: var(--_btn_fs);
    font-family: var(--btn-ff, inherit);
    font-weight: var(--btn-fw, var(--fw-normal));
    line-height: var(--_btn_lh);
    padding: var(--_btn_pb) var(--_btn_pi);
    color: var(--btn_c, var(--_btn_c));
    background-color: var(--btn_bg, var(--_btn_bg));
    border: var(--_btn_bw) solid var(--btn_bc, var(--_btn_bc));
    border-radius: var(--_btn_br);
    transition:
      color var(--_btn_tt) ease-in-out,
      background-color var(--_btn_tt) ease-in-out,
      border-color var(--_btn_tt) ease-in-out,
      box-shadow var(--_btn_tt) ease-in-out;

    &:hover {
      --_btn_c: var(--_btn_c_h);
      --_btn_bg: var(--_btn_bg_h);
    }

    &:is(:disabled, .disabled) {
      --_btn_c: var(--_btn_c_d);
      --_btn_bg: var(--_btn_bg_d);
      --_btn_bc: var(--_btn_bc_d);

      pointer-events: none;
    }

    &:focus-visible {
      --_btn_c: var(--_btn_c_h);
      --_btn_bg: var(--_btn_bg_h);

      outline: 0;
    }

    &:is(.active, :active, .is-active, [open] > &) {
      --_btn_c: var(--_btn_c_a);
      --_btn_bg: var(--_btn_bg_a);
      --_btn_bc: var(--_btn_bc_a);
    }

    &.btn-i {
      --_btn-i_svg_minh: var(--btn-i_svg_minh, calc(1em * var(--_btn_lh)));
      --_btn_d: inline-flex;

      align-items: var(--_btn_ai);
      gap: var(--_btn_gap);

      svg {
        min-height: var(--_btn-i_svg_minh);
      }
    }

    &.btn-i--only {
      justify-content: center;
    }
  }

  .btn {
    --_btn_c: var(--btn_c, var(--def--btn_c-text));
    --_btn_bg: var(--btn_bg, var(--def--btn_c-bg));

    /* hover state */
    --_btn_c_h: var(--def--btn_c-text);
    --_btn_bg_h: color-mix(in oklab, var(--def--btn_c-bg), var(--def--btn_hover-c) var(--def--btn_hover-prcent));
    --_btn_bc_h: var(--_btn_bg_h);

    /* active state */
    --_btn_c_a: var(--def--btn_c-text);
    --_btn_bg_a: color-mix(in oklab, var(--def--btn_c-bg), var(--def--btn_active-c) var(--def--btn_active-prcent));
    --_btn_bc_a: var(--btn_bc_a, var(--_btn_bg_a));

    /* disable state */
    --_btn_c_d: var(
      --btn_c_d,
      color-mix(in oklab, var(--def--btn_c-text), var(--def--btn_disable-c) var(--def--btn_disable-procent))
    );
    --_btn_bg_d: var(
      --btn_bg_d,
      color-mix(in oklab, var(--def--btn_c-bg), var(--def--btn_disable-c) var(--def--btn_disable-procent))
    );
    --_btn_bc_d: var(
      --btn_bc_d,
      color-mix(in oklab, var(--def--btn_c-bc), var(--def--btn_disable-c) var(--def--btn_disable-procent))
    );
  }

  .btn-outline {
    --def--btn_c-bg: var(--def--btn_c-text);

    --_btn_c: var(--btn_c, var(--def--btn_c-bg));
    --_btn_bg: var(--btn_bg, var(--c-white));
    --_btn_bc: var(--btn_bc, var(--def--btn_c-bg));

    /* hover state */
    --_btn_c_h: var(--c-white);
    --_btn_bg_h: var(--def--btn_c-bg);

    /* active state */
    --_btn_c_a: var(--c-white);
    --_btn_bg_a: var(--def--btn_c-bg);

    /* disable state */
    --_btn_c_d: var(
      --btn-out_c_d,
      color-mix(in oklab, var(--def--btn_c-bg), var(--def--btn_disable-c) var(--def--btn_disable-procent))
    );
    --_btn_bg_d: var(--btn-out_bg_d, var(--c-white));
    --_btn_bc_d: var(
      --btn_bc_d,
      color-mix(in oklab, var(--def--btn_c-bc), var(--def--btn_disable-c) var(--def--btn_disable-procent))
    );
  }

  .btn-primary {
    --def--btn_c-text: var(--btn-primary_c, var(--def--btn-c-text_r));
    --def--btn_c-bg: var(--btn-primary_bg, var(--c-primary));
  }

  .btn-secondary {
    --def--btn_c-text: var(--def--btn-c-text_r);
    --def--btn_c-bg: var(--c-gray);
  }

  .btn-success {
    --def--btn_c-text: var(--def--btn-c-text_r);
    --def--btn_c-bg: var(--c-success);
  }

  .btn-danger {
    --def--btn_c-text: var(--def--btn-c-text_r);
    --def--btn_c-bg: var(--c-danger);
  }

  .btn-warning {
    --def--btn_c-text: var(--def--btn-c-text_r);
    --def--btn_c-bg: var(--c-warning);
  }

  .btn-info {
    --def--btn_c-text: var(--def--btn-c-text_r);
    --def--btn_c-bg: var(--c-info);
  }

  .btn-dark {
    --def--btn_c-text: var(--def--btn-c-text_r);
    --def--btn_c-bg: var(--c-dark);
  }

  .btn-light {
    --_btn_bg: var(--c-light);
  }

  .btn-link {
    --btn_c: var(--def--link_c);
    --btn_bg: transparent;
    --btn_bc: transparent;
    --_btn_bc_d: transparent;
  }

  .btn-lg {
    --btn_fs: var(--btn-lg_fs, 1.25rem);
    --btn_pb: var(--btn-lg_pb, 0.75em);
    --btn_pi: var(--btn-lg_pi, 1.5em);
    --btn_br: var(--btn-lg_br, calc(var(--br) * 1.25));
  }

  .btn-sm {
    --btn_fs: var(--btn-sm_fs, 0.875rem);
    --btn_pb: var(--btn-sm_pb, 0.3em);
    --btn_pi: var(--btn-sm_pi, 0.5em);
    --btn_br: var(--btn-sm_br, calc(var(--br) * 0.85));
  }

  .btn-rounded {
    --_btn-rounde_p: var(--btn-rounded_p, var(--_btn_pb));
    --btn-br: 50%;
    --btn_pi: var(--_btn-rounde_p);

    width: calc(var(--_btn-i_svg_minh) + var(--_btn-rounde_p) * 2 + var(--_btn_bw) * 2);
  }

  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }
}
