.wrapper {
  --_w_rows: var(--w_rows, 4);
  --_w_row-gap: var(--w_row-gap, 0px);
  --_w_mi: var(--w_mi, 20px);
  --_w_gap: var(--w_gap, 0px);
  --_w_mw: var(--w_mw, 1200px);
  --_clac_w_mw: min(
    calc(var(--_w_mw) - var(--_w_mi)),
    calc(100% - (max(var(--_w_gap), var(--_w_mi)) * 2))
  );
  --_calc_cg-mi: calc(var(--_w_mi) - var(--_w_gap));

  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--_calc_cg-mi), 1fr)
    [container-start]
    repeat(
      var(--_w_rows),
      calc(
        (var(--_clac_w_mw) - var(--_w_gap) * (var(--_w_rows) - 1)) /
          var(--_w_rows)
      )
    )
    [container-end]
    minmax(var(--_calc_cg-mi), 1fr) [full-end];
  column-gap: var(--_w_gap);
  row-gap: var(--_w_row-gap);

  /* size */
  &.w--lg {
    --w_mw: var(--w-lg_mw);
  }

  &.w--sm {
    --w_mw: var(--w-sm_mw);
  }

  &.w--dense {
    grid-auto-flow: dense;
  }

  /* type container */
  & > * {
    grid-column: var(--_w-col_default, container);
  }

  & > .w--full,
  & > *:has(.wrapper) {
    --_w-col_default: full;
  }

  /* media */
  @media (--md) {
    --w_rows: var(--md-w_rows, 12);
    --_w_gap: var(--w_md_gap);

    /* item */
    & > [class*='row-'] {
      --_start: 2;

      grid-column: var(--start, var(--_start)) / span var(--span-size);
    }

    & > [class*='-50'] {
      --_span-size: 6;
      --span-size: var(--_span-size);

      &[class*='-first'] {
        &[class*='-full'] {
          --start: calc(var(--_start) - 1);
        }
      }

      &[class*='-last'] {
        --start: calc(var(--_start) + var(--_span-size));
      }

      &[class*='-full'] {
        --span-size: 7;
      }
    }
  }
}
