@layer default {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    font-size: var(--fs-root);

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }

    @supports (interpolate-size: allow-keywords) {
      interpolate-size: allow-keywords;
    }
  }

  body {
    margin: 0;
    font-family: var(--body-ff, var(--ff));
    font-size: var(--body-fs, var(--fs-base));
    font-weight: var(--body-fw, var(--fw-normal));
    line-height: var(--body-lh, var(--lh));
    color: var(--body-c);
    background-color: var(--body-bg);
  }

  hr {
    margin: var(--hr-my, 0px);
    color: var(--hr-color);
    border: 0;
    border-top: var(--hr-bw) solid var(--hr-bc);
    opacity: var(--hr-opacity);
  }

  /* Reset margins on paragraphs */
  p {
    margin-top: 0;
    margin-bottom: var(--spacer);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  /* Abbreviations */
  abbr[title] {
    text-decoration: underline dotted;
    cursor: help;
    text-decoration-skip-ink: none;
  }

  /* Address */
  address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
  }

  /* Blockquote */
  blockquote {
    margin: 0 0 1rem;
  }

  /* Strong */
  :where(b, strong) {
    font-weight: var(--fw-bolder);
  }

  :where(small, .small) {
    font-size: var(--fs-sm);
  }

  :where(mark, .mark) {
    padding: var(--mark-padding, 0.1875em);
    background-color: var(--highlight-bg, --color-gray-200);
  }

  :where(sub, sup) {
    position: relative;
    font-size: var(--sub-sup-font-size, 0.75em);
    line-height: 0;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }

  /* Links */
  :where(a) {
    --_link_c: var(--link_c, var(--def--link_c));
    --_link_d: var(--link_d, var(--def--link_d));

    color: var(--_link_c);
    text-decoration: var(--_link_d);

    &:hover {
      --_link_c: var(--link_c_h, var(--def--link_c_h));
      --_link_d: var(--link_d_h, var(--def--link_d_h));
    }

    &.active {
      --_link_c: var(--link_c_a, var(--def--link_c_a));
    }
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  /* Figures */
  figure {
    margin: 0 0 1rem;
  }

  /* Images and content */
  img,
  svg {
    vertical-align: middle;
  }

  /* Tables */
  table {
    caption-side: top;
    border-collapse: collapse;
  }

  caption {
    padding-top: var(--table-cell-padding-y, 0.5rem);
    padding-bottom: var(--table-cell-padding-y, 0.5rem);
    color: var(--table-caption-color, currentColor);
    text-align: left;
  }

  th {
    font-weight: var(--table-th-font-weight, --fw-semibold);
    text-align: inherit;
    text-align: -webkit-match-parent;
  }

  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  /* Forms */
  :where(label) {
    display: inline-block;
  }

  :where(button) {
    border-radius: 0px;

    &:focus:not(:focus-visible) {
      outline: 0;
    }
  }

  :where(input, button, select, optgroup, textarea) {
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
  }

  button,
  select {
    text-transform: none;
  }

  [role='button'] {
    cursor: pointer;
  }

  select {
    word-wrap: normal;

    &:disabled {
      opacity: 1;
    }
  }

  [list]
    :not([type='date'])
    :not([type='datetime-local'])
    :not([type='month'])
    :not([type='week'])
    :not([type='time'])
    ::-webkit-calendar-picker-indicator {
    display: none !important;
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  ::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  textarea {
    resize: vertical;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: var(--legend-margin-bottom, 0.5rem);
    font-size: var(--legend-font-size, 1.5rem);
    font-weight: var(--legend-font-weight, bold);
    line-height: inherit;

    & + * {
      clear: left;
    }
  }

  ::-webkit-datetime-edit-fields-wrapper,
  ::-webkit-datetime-edit-text,
  ::-webkit-datetime-edit-minute,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-year-field {
    padding: 0;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  [type='search'] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  ::file-selector-button {
    font: inherit;
    -webkit-appearance: button;
  }

  output {
    display: inline-block;
  }

  iframe {
    border: 0;
  }

  /* Summary */
  summary {
    display: flex;
    cursor: pointer;
  }

  /* Progress */
  progress {
    vertical-align: baseline;
  }

  /* Hidden attribute */
  [hidden] {
    display: none;
  }

  .field--label-inline {
    display: flex;
    gap: 8px;
  }

  /* Code */
  pre,
  code,
  kbd,
  samp {
    --_codes_bg: var(--codes_bg, #1d2735);
    --_codes_c: var(--codes_c, #fff);
    --_codes_fs: var(--codes_fs, 1em);

    font-family: var(--codes_ff, var(--ff-code));
    font-size: var(--_codes_fs);
  }

  pre {
    margin-top: 0;
    overflow: auto;
    display: var(--pre_d, block);
    background: var(--pre_bg, var(--_codes_bg));
    font-size: var(--code_fs);
    color: var(--pre_c, #fff);

    padding-block: var(--_pre_pb, 32px);
    padding-inline: var(--_pre_pi, 28px);
    border-radius: var(--_pre_br, var(--br));

    & code {
      font-size: inherit;
      color: inherit;
      word-break: normal;
    }
  }

  code {
    color: var(--code_c, #d63384);
    word-wrap: break-word;
  }

  kbd {
    padding-block: var(--kbd-pb, 0.1875em);
    padding-inline: var(--kbd-pi, 0.375em);
    font-size: var(--kbd-fs, var(--_codes_fs));
    color: var(--kbd-c, var(--_codes_c));
    background-color: var(--kbd-bg, var(--_codes_bg));
    border-radius: var(--kbd-br, var(--br-sm));

    & kbd {
      padding: 0;
      font-weight: var(--nested-kbd-fw, inherit);
    }
  }

  /* Lists */
  :where(ol, ul) {
    padding-inline-start: var(--ul-ps, 2rem);
  }

  :where(ol, ul, dl) {
    margin-block: var(--ul-mb, 0);
    margin-inline: var(--ul-mi, 0);
  }

  :where(ol ol, ul ul, ol ul, ul ol) {
    --ul-mbe: 0;
  }

  :where(dt) {
    font-weight: var(--dt-font-weight, 500);
  }

  :where(dd) {
    margin-bottom: 0.5rem;
    margin-left: 0;
  }
}
