/* Headings */
:where(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
  margin-bottom: var(--_h-mb);
  font-size: var(--_h-fs);
  margin-top: 0;
  font-family: var(--h-ff);
  font-style: var(--h-fstyle);
  font-weight: var(--h-fw);
  line-height: var(--h-lh);
  color: var(--h_c);
}

:where(h1, .h1) {
  --_h-mb: var(--h1_mb);
  --_h-fs: var(--fs-h1);
}

:where(h2, .h2) {
  --_h-mb: var(--h2_mb);
  --_h-fs: var(--fs-h2);
}

:where(h3, .h3) {
  --_h-mb: var(--h3_mb);
  --_h-fs: var(--fs-h3);
}

:where(h4, .h4) {
  --_h-mb: var(--h4_mb);
  --_h-fs: var(--fs-h4);
}

:where(h5, .h5) {
  --_h-mb: var(--h5_mb);
  --_h-fs: var(--fs-h5);
}

:where(h6, .h6) {
  --_h-mb: var(--h6_mb);
  --_h-fs: var(--fs-h6);
}

.lead {
  --lead_fs: calc(var(--fs-base) * 1.125);
  --lead_fw: 300;

  font-size: var(--lead_fs);
  font-weight: var(--lead_fw);
}

/* Lists */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* Inline turns list items into inline-block */
.list-inline {
  padding-left: 0;
  list-style: none;

  & > li {
    display: inline-block;

    &:not(:last-child) {
      --list-inline-p: 0.5rem;

      margin-right: var(--list-inline-p);
    }
  }
}

/* Misc */
/* Builds on `abbr` */
.initialism {
  font-size: var(--initialism-font-size, 0.875em);
  text-transform: uppercase;
}

/* Blockquotesx */
blockquote {
  /* --_blockquote-symbol: var(--blockquote-symbol, "\201C"); */
  /* --_blockquote-symbol-w: var(--blockquote-symbol-w, 32px); */
  /* --_blockquote-symbol-fs: calc(var(--fs-base) * 3); */

  margin-bottom: var(--_blockquote-mb);
  font-size: var(--_blockquote-fs);
  color: var(--_blockquote-c);
  padding-left: var(--_blockquote-pl);
  border-inline-start: 4px solid currentColor;

  /* & > p:first-child::before {
    content: var(--_blockquote-symbol);
    font-weight: var(--blockquote-symbol-fs, var(--fw-bold));
    margin-right: 5px;
  } */

  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  &:has(blockquote) {
    border-left: var(--blockquote-border, none);
  }

  blockquote {
    --_blockquote-mb: 0;

    & > p:first-child::before {
      content: none;
    }

    /* &::before {
      float: left;
      content: var(--_blockquote-symbol);
      font-size: var(--_blockquote-symbol-fs);
      font-weight: var(--blockquote-symbol-fw, var(--fw-bold));
      width: var(--_blockquote-symbol-w);
      height: var(--_blockquote-symbol-w);
    } */

    & + figcaption {
      margin-bottom: var(--_blockquote-mb);
      font-size: var(--blockquote-footer-fs, var(--fs-sm));
      color: var(--blockquote-footer-c, var(--_blockquote-c));
      padding-left: var(--_blockquote-pl);

      &::before {
        content: var(--blockquote-footer-symbol, '\2014\00A0');
        float: left;
      }
    }
  }
}
