@layer init.vars {
  :root {
    /* Font */
    --ff: 'Inter', sans-serif;
    /* --ff-mono: 'AeonikMono', monospace; */
    --ff-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    --fs-root: 1rem;
    --fs-base: 1rem;
    --fs-sm: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;

    /* Font weight*/
    --fw-light: 300;
    --fw-base: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;

    /* Line height */
    --lh: 1.5;

    /* Transition */
    --t: all var(--t_t) ease-in-out;
    --t_t: 0.25s;


    /* Colors */
    --c-white: #ffffff;
    --c-black: #000000;
    --c-muted: var(--c-gray--60);
    --c-light: var(--c-gray--20);
    --c-dark: var(--c-gray-90);

    --c-primary: #377dff;
    --c-accent: #81a1c1;
    --c-secondary: #4c9f38;
    --c-tertiary: #2c2c2c;
    --c-gray: #575757;
    --c-neutral: #4c566a;
    --c-info: #0dcaf0;
    --c-success: #198754;
    --c-warning: #ffc107;
    --c-danger: #dc3545;

    /* Body */
    --body_c: var(--c-tertiary-80);
    --body_bg: var(--palett-light);

    /* Link */
    --link_c: var(--c-primary);
    --link_c_h: hsl(from var(--link_c) h s calc(l - 10));
    --link_c_a: hsl(from var(--link_c) h s calc(l - 20));
    --link_d: none;
    --link_d_h: underline;

    /* Border */
    --bw: 1px;
    --bc: var(--c-gray-300);
    --bs: solid;
    --br: 8px;
    --br_sm: 6px;
    --br_lg: 12px;
    --br_xl: 16px;
    --br_pill: 100rem;

    /* Line */
    --hr-my: var(--spacer);
    --hr-c: inherit;
    --hr-bw: var(--bw);
    --hr-bc: transparent;
    --hr-opacity: 0.25;

    /* Heading */
    --h_ff: var(--ff);
    --h_fstyle: inherit;
    --h_fw: var(--fw-semibold);
    --h_lh: 1.2;
    --h_c: var(--c-tertiary-90);

    --h1_fs: 56px;
    --h2_fs: 32px;
    --h3_fs: 1.75rem;
    --h4_fs: 1.5rem;
    --h5_fs: 1.25rem;
    --h6_fs: 1rem;

    --h1_mb: 0.75em;
    --h2_mb: 0rem;
    --h3_mb: 0rem;
    --h4_mb: 1rem;
    --h5_mb: 0rem;

    /* Font weight */
    --fw-lighter: lighter;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-bolder: bolder;

    /* Sizes */
    --spacer: 12px;
    --s-0: 0;
    --s-1: var(--spacer);
    --s-2: calc(var(--spacer) * 2);
    --s-3: calc(var(--spacer) * 3);
    --s-4: calc(var(--spacer) * 4);
    --s-5: calc(var(--spacer) * 5);
    --s-p-mob: 20px;

    --gutter: 20px;

    /* z-index */
    --z-dropdown: 80;
    --z-sticky: 100;
    --z-fixed: 120;
    --z-offcanvas-backdrop: 140;
    --z-offcanvas: 150;
    --z-modal-backdrop: 160;
    --z-modal: 180;
    --z-popover: 200;
    --z-tooltip: 220;
    --z-toast: 240;

    /* blockquote */
    --_blockquote-fs: var(--blockquote-fs, 20px);
    --_blockquote-c: var(--blockquote-c, var(--c-primary));
    --_blockquote-mb: var(--blockquote-mb, var(--spacer));
    --_blockquote-pl: var(--blockquote-pl, 20px);

    /* navigation */
    --nav-link_c-default: var(--link_c);
    --nav-link_pb-default: 8px;
    --nav-link_pi-default: 14px;
    --nav-link-fw-default: var(--fw-normal);

    /* box-shadow */
    --sadow-sm: 0 0.2rem 2rem -0.25rem hsla(216, 9%, 44%, 0.1);
    --sadow: 0 0.5rem 2rem -0.25rem #666e7a1a;
    --sadow-lg: 0 0.8rem 2rem -0.25rem hsla(216, 9%, 44%, 0.1);

    --drupal_pbs: var(--drupal-displace-offset-top, 0px);

    --container_m-w: min(1200px, calc(100% - 24px));
  }
}
