.card {
  --_card-title-sy: var(--card-title-sy, 0.5rem);
  --card-inner-br: calc(0.375rem - 1px);
  --card-cap-py: 0.5rem;
  --card-cap-px: 1rem;
  --card-cap-bg: var(--c-gray-300);

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--card-bg, var(--body_bg));
  background-clip: border-box;
  border: var(--card-bw, var(--bw)) solid var(--card-bc, var(--bc));
  border-radius: var(--card-br, var(--br));

  & > hr {
    margin-right: 0;
    margin-left: 0;
  }
}

.card-body {
  flex: 1 1 auto;
  padding: var(--card-sy, 1rem) var(--card-sx, 1rem);
  color: var(--card-c, var(--body_c));
}

.card-title {
  margin-bottom: var(--card-title-sy);
}

.card-subtitle {
  margin-top: calc(-0.5 * var(--card-title-sy));
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link + .card-link {
  margin-left: var(--card-sx);
}

.card-header {
  margin-bottom: 0;
  padding: var(--card-cap-py) var(--card-cap-px);
  color: var(--card-cap-c, var(--h_c));
  background-color: var(--card-cap-bg);
  border-bottom: solid;

  &:first-child {
    border-radius: var(--card-inner-br) var(--card-inner-br) 0 0;
  }
}

.card-footer {
  padding: var(--card-cap-py) var(--card-cap-px);
  color: var(--card-cap-c);
  background-color: var(--card-cap-bg);
  border-top: solid;

  &:last-child {
    border-radius: 0 0 var(--card-inner-br) var(--card-inner-br);
  }
}

.card-img-overlay {
  position: absolute;
  inset: 0;
  padding: var(--card-img-overlay-p, 1rem);
  border-radius: var(--card-inner-br);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}
.card-img,
.card-img-top {
  border-top-left-radius: var(--card-inner-br);
  border-top-right-radius: var(--card-inner-br);
}
.card-img,
.card-img-bottom {
  border-bottom-right-radius: var(--card-inner-br);
  border-bottom-left-radius: var(--card-inner-br);
}
