.btn-close {
  --btn-c--s: 14px;
  --btn-c--p: 5px;
  --btn-c--c: var(--body_c);
  --btn-c--bg: var(--body_c);
  --btn-c--bg--s: 14px;
  --btn-c--opacity: 1;
  --btn-c--br: var(--border-radius);
  --btn-c--img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 1.414z'/%3e%3c/svg%3e");

  box-sizing: content-box;
  width: var(--btn-c--s);
  height: var(--btn-c--s);
  padding: var(--btn-c--p);
  color: var(--btn-c--c);
  background-color: var(--btn-c--bg);
  -webkit-mask-image: var(--btn-c--img);
  mask-image: var(--btn-c--img);
  mask-size: var(--btn-c--bg--s);
  mask-repeat: no-repeat;
  mask-position: center;
  border: 0;
  border-radius: var(--btn-c--br);
  opacity: var(--btn-c--opacity);

  &:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1;
  }

  &.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.25;
  }
}

.btn-close-white {
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
  filter: invert(1) grayscale(100%) brightness(200%);
}
