.dropup,
.dropend,
.dropdown,
.dropstart,
.dropup-center,
.dropdown-center {
  position: relative;
}

.dropdown-menu {
  --dropdown-zindex: 1000;
  --dropdown-min-w: 10rem;
  --dropdown-px: 0;
  --dropdown-py: 0.5rem;
  --dropdown-s: 0.125rem;
  --dropdown-fs: var(--fs-base);
  --dropdown-c: var(--body_c);
  --dropdown-bg: #fff;
  --dropdown-border-color: var(--bc-translucent);
  --dropdown-br: var(--br);
  --dropdown-bw: 1px;
  --dropdown-inner-border-radius: calc(var(--br) - 1px);
  --dropdown-divider-bg: var(--bc-translucent);
  --dropdown-divider-margin-y: 0.5rem;
  --dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --dropdown-link-color: var(--body_c);
  --dropdown-link-hover-color: #1e2125;
  --dropdown-link-hover-bg: #e9ecef;
  --dropdown-link-active-color: #fff;
  --dropdown-link-active-bg: var(--c-primary);
  --dropdown-link-disabled-color: #adb5bd;
  --dropdown-item-padding-x: 1rem;
  --dropdown-item-padding-y: 0.25rem;
  --dropdown-header-color: var(--c-gray);
  --dropdown-header-padding-x: 1rem;
  --dropdown-header-padding-y: 0.5rem;

  position: absolute;
  z-index: var(--dropdown-zindex);
  display: none;
  min-width: var(--dropdown-min-w);
  padding: var(--dropdown-py) var(--dropdown-px);
  margin: 0;
  font-size: var(--dropdown-fs);
  color: var(--dropdown-c);
  text-align: left;
  list-style: none;
  background-color: var(--dropdown-bg);
  background-clip: padding-box;
  border: var(--dropdown-bw) solid var(--dropdown-border-color);
  border-radius: var(--dropdown-br);
  top: 100%;
  left: 0;
  margin-top: var(--dropdown-s);

  &.show {
    display: var(--dropdown--display_show, block);
  }
}

.dropup .dropdown-menu[data-bs-popper] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: var(--dropdown-s);
}

.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0;
  border-bottom: 0 solid;
  border-inline: 0 solid transparent;
}

.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropend .dropdown-menu[data-bs-popper] {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: var(--dropdown-s);
}

.dropend .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0 solid transparent;
  border-right: 0;
  border-bottom: 0 solid transparent;
  border-left: 0 solid;
  vertical-align: 0;
}

.dropend .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropstart .dropdown-menu[data-bs-popper] {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: var(--dropdown-s);
}

.dropstart .dropdown-toggle::after {
  content: '';
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  display: none;
}

.dropstart .dropdown-toggle::before {
  content: '';
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  border-top: 0 solid transparent;
  border-right: 0 solid;
  border-bottom: 0 solid transparent;
  vertical-align: 0;
}

.dropstart .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-divider {
  height: 0;
  margin: var(--dropdown-divider-margin-y) 0;
  overflow: hidden;
  border-top: 1px solid;
  opacity: 1;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--dropdown-link-hover-color);
  background-color: var(--dropdown-link-hover-bg);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--dropdown-link-active-bg);
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: var(--dropdown-link-disabled-color);
  pointer-events: none;
  background-color: transparent;
}

.dropdown-header {
  display: block;
  padding: var(--dropdown-header-padding-y) var(--dropdown-header-padding-x);
  margin-bottom: 0;
  font-size: 0.875rem;
  color: var(--dropdown-header-color);
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x);
  color: var(--dropdown-link-color);
}

.dropdown-toggle {
  --_nav-link_display: inline-flex;
  --_drop-toggle_gap: 6px;
  --_drop-toggle_bg: var(--body_c);
  --_drop-toggle_s: 16px;
  --_drop-toggle_img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
  white-space: nowrap;
  align-items: center;
  gap: var(--_drop-toggle_gap);

  &:after {
    content: '';
    transform: rotate(var(--_drop-toggle_deg, 0deg));
    transition: var(--t);
    display: inline-block;
    width: var(--_drop-toggle_s);
    height: var(--_drop-toggle_s);
    background-color: var(--_drop-toggle_bg);
    -webkit-mask-image: var(--_drop-toggle_img);
    mask-image: var(--_drop-toggle_img);
    mask-size: var(--_drop-toggle_s);
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &.show {
    --_drop-toggle_deg: -180deg;

    &:after {
      border-bottom: 0.3em solid;
      border-top: 0;
    }
  }

  &:empty::after {
    margin-left: 0;
  }
}
