.pagination {
  --pag-pb: 8px;
  --pag-pi: 15px;
  --pag-fs: 1rem;
  --pag-c: var(--c-primary-dark);
  --pag-bg: transparent;
  --pag-bw: 0;
  --pag-bc: transparent;
  --pag-br: var(--br);
  --pag-w--min: 40px;
  --pag-t-t: 0.15s;

  --pag-c_h: var(--link_c_h);
  --pag-bg_h: var(--c-gray-200);
  --pag-bc_h: var(--pag-bg_h);

  --pag-c_f: var(--link_c_h);
  --pag-bg_f: var(--pag-bg_h);
  --pag-box-s_f: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

  --pag-c_d: var(--c-gray);
  --pag-bg_d: var(--c-white);
  --pag-bc_d: var(--pag-bg_h);

  gap: var(--_pag-gap, 12px);
  margin-top: var(--_pag-mt, 30px);
  margin-block-end: var(--_pag-mb, 0);
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page-link {
  --link-d: none;
  --link-d_h: none;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pag-pb) var(--pag-pi);
  font-size: var(--pag-fs);
  color: var(--pag-c);
  background-color: var(--pag-bg);
  border: var(--pag-bw) solid var(--pag-bc);
  border-radius: var(--pag-br);
  min-width: var(--pag-w--min);
  transition: color var(--pag-t-t) ease-in-out,
    background-color var(--pag-t-t) ease-in-out,
    border-color var(--pag-t-t) ease-in-out,
    box-shadow var(--pag-t-t) ease-in-out;

  &:hover {
    --pag-c: var(--pag-c_h);
    --pag-bg: var(--pag-bg_h);
    --pag-bc: var(--pag-bc_h);

    z-index: 2;
  }

  &:focus {
    --pag-c: var(--pag-c_f);
    --pag-bg: var(--pag-bg_f);
    box-shadow: var(--pag-box-s_f);
    outline: 0;
    z-index: 3;
  }

  &.active {
    --pag-c: var(--_pag-c_a, var(--c-white));
    --pag-bg: var(--_pag-bg_a, var(--c-primary));
    --page-bc: var(--_pag-bc_a, var(--pag-bg));

    --link_c: var(--pag-c);
    z-index: 3;

    &:hover {
      color: var(--_pag-c_a_h, var(--c-white));
    }
  }

  &.inactive {
  }
}

@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}

.page-link.disabled,
.disabled > .page-link {
  --pag-c: rgba(from var(--c-black) r g b / 0.3);
  pointer-events: none;
}

.pagination-mini {
  justify-content: space-between;
}

/* add some type of pagination */
/* .page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
.page-item:first-child .page-link {
  border-top-left-radius: var(--pag-br);
  border-bottom-left-radius: var(--pag-br);
}
.page-item:last-child .page-link {
  border-top-right-radius: var(--pag-br);
  border-bottom-right-radius: var(--pag-br);
} */

/* .pagination-lg {
  --pag-pi: 1.5rem;
  --pag-pb: 0.75rem;
  --pag-fs: 1.25rem;
  --pag-br: 0.5rem;
} */
