@import '../array-vars.pcss';

table {
  --table-c: var(--c-primary-dark);
  --table-bg: transparent;
  --table-bc: var(--bc);

  --table-accent-bg: transparent;

  --table-striped-c: var(--table-c);
  --table-striped-bg: var(--c-light-blue);

  --table-active-c: var(--table-c);
  --table-active-bg: color-mix(
    in oklab,
    var(--table-bg),
    var(--table-active-bg_mix-sec, var(--c-black))
      var(--table-active-bg_mix-procent, 10%)
  );

  --table-hover-c: var(--table-c);
  --table-hover-bg: color-mix(
    in oklab,
    var(--table-bg),
    var(--table-hover-bg_mix-sec, var(--c-black))
      var(--table-hover-bg_mix-procent, 7.5%)
  );

  width: 100%;
  color: var(--table-c);
  vertical-align: top;
  border-color: var(--table-bc);
  font-size: 14px;

  & > :not(caption) > * {
    &:first-child {
      --_table-td_btw: 0px;
    }

    & > * {
      padding-block: 20px;
      padding-inline: 10px;
      background-color: var(--table-bg, transparent);
      border-top-width: var(--_table-td_btw, 1px);

      &:first-child {
        padding-inline-start: 20px;
      }

      &:last-child {
        padding-inline-end: 20px;
      }
    }
  }

  & > tbody {
    vertical-align: inherit;
  }

  & > thead {
    vertical-align: bottom;
  }

  & + table {
    margin-block-start: 20px;
  }

  & > caption {
    color: var(--c-primary-dark);
    font-size: 16px;
    background-color: var(--c-light-blue);
    min-width: 200px;
    min-height: 62px;
    align-content: center;
    text-align: center;
  }
}

.table-group-divider {
  border-top: 2px solid;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem;
}

.table-bordered {
  & > :not(caption) > * {
    border-width: 1px 0;
  }

  & > :not(caption) > * > * {
    border-width: 0 1px;
  }
}

.table-borderless {
  & > :not(caption) > * > * {
    border-bottom-width: 0;
  }

  & > :not(:first-child) {
    border-top-width: 0;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) > *,
.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  --table-accent-bg: var(--table-striped-bg);
  background: var(--table-accent-bg);
  color: var(--table-striped-c, var(--table-c));
}

.table-active {
  --table-accent-bg: var(--table-active-bg);
  color: var(--table-active-c);
}

.table-hover > tbody > tr:hover > * {
  --table-accent-bg: var(--table-hover-bg);
  color: var(--table-hover-c);
}

.table-primary {
  --table-c: var(--c-white);
  --table-bg: var(--c-primary);
  --table-bg_mix-sec: var(--c-white);
}

.table-secondary {
  --table-bg: var(--c-secondary);
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
